nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, purple, pink);
  a {
    margin: 3px;
    padding: 3px;
    color: white;
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
}

.active {
  border: 1px solid white;
}