.carousel {
  .thumbs {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
  }
  .thumb {
    margin: 0 5px;
    cursor: pointer;
  }
}
.carousel, .overlay_title {
  margin: 0.8rem 0 1rem 0;
}