.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  margin: 0 10% 100px;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a {
    position: relative;
    transition: 300ms;
    &:hover {
      div {
        display: flex;
      }
    }
  }
}

.portfolio-parcelle {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin: 0 10% 10%;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
  a {
    position: relative;
    &:hover {
      div {
        display: flex;
      }
    }
  }
}